root { 
    display: block;
}
body
{
    background-color: #E1DCD2;
}
#query-input
{
    width: 100%;
    display: block;
    margin-top: 5px;
    resize: none;
}
.boxsizingBorder
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-align
{
    display: inline-block;
    width: 48px;
    vertical-align: top;
}
.btn-align button
{
    margin:5px;
}
.center-text
{
    text-align: center;
}
.logout
{
    text-align: right;
    margin: 2px;
}
.table-container
{
    overflow: auto;
    width: 100%;
    max-height:460px;
}
.up-down
{

}
.top-level
{
    
}
@media (max-width: 740px) {
    .span4,.span6{
        width: 100% !important;
    }
}